{% extends 'main/base.html' %}


{% block title %} About {% endblock %}
{% block description %}О проекте{% endblock %}

{% block content %}
<div class="col-md-8 mt-3 left">
    <h1>О проекте</h1>
    <p>Проект tbcon.ru является информационно-аналитическим прталом, посвещенным научно технический тематике, где вы можете найти некоторые знания, которые могут вас заинтересовать и дать интересующие вас знания.</p>
    <p>Темами портала являются компьютерные науки, технические науки, финансы.</p>
    <p>Нашей целью является дать вам интерсующие знания по вышеперечисленным и другим тематикам.</p>
    <p>Портал tbcon.ru находится в постоянном развитии и соврешенствовании.</p>
</div>
{% endblock %}