{% extends 'main/base.html' %}

{% block title %} {{ object.title }} {% endblock %}
{% block description %}{{object.description|striptags|truncatewords:20}}{% endblock %}


{% block content %}
<div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{{ object.title }}</h1>
        <p class=" text-muted">{{ object.created}}</p>
        <p>Category: <a href="{{ object.category.get_absolute_url }}" class="link-primary">{{ object.category }}</a></p>
        <p class="card-text ">{{ object.description|safe }}</p>
        <p class="card-text ">{{ object.content|safe }}</p>

        <!-- buttons for social media -->
        <script src="https://yastatic.net/share2/share.js"></script>
        <div class="ya-share2" data-curtain data-shape="round" data-services="vkontakte,facebook,odnoklassniki,telegram,twitter"></div>
        <br>

        <p>Author: <a href="{% url 'post-by-author' object.author.pk %}" class="link-primary">{{ object.author }}</a></p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          {% if perms.main.can_post_create_edit %}
          <a class="btn btn-primary" href="{% url 'post-update' post.slug  %}" role="button">Edit post</a>
          {% endif %}
          {% if perms.main.can_post_delete %}
          <a class="btn btn-danger" href="{% url 'post-delete' post.slug %}" role="button">Delete post</a>
          {% endif %}
        </div>
      </div>
</div>

{% endblock %}