{% extends 'main/base.html' %}


{% block title %} List {% endblock %}
{% block description %}Главная страница{% endblock %}

{% block content %}
<div class="col-md-8 mt-3 left">
    {% for post in post_list %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class=" text-muted">{{ post.created}}</p>
            <p>Category: <a href="{{ post.category.get_absolute_url }}" class="link-primary">{{ post.category }}</a></p>
            <p class="card-text">{{post.description|safe }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}